body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.beerImage {
  padding-top: 50px;
  width: 50%;
}

.brewery-page {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.find-brew-btn {
  width: 200px;
  height: 60px;
  font-size: 1.4rem;
  font-family: arial;
  font-weight: 600;
  background-color: forestgreen;
  color: white;
  border-radius: 40px;
  border: black 3px solid;
}

.brew-container {
  background-color: #b47a1d;
  width: 400px;
  margin-top: 20px;
  color: white;

  .brew-name {
    font-size: 1.2rem;
    font-weight: 800;
  }

  .brew-street {
    font-size: 1rem;
  }

  .brew-site {
    text-decoration: none;

    a {
      text-decoration: none;
      color: white;
    }
  }
}
